$text: #444444;
$border: #DDDDDD;

.dates {
  width: 100%;
  height: 100%;

  &.weekly,
  &.monthly {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .item {
      height: 100px;

      margin: 5px;
      border-bottom: 1px solid $border;
      cursor: default;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      font-family: "Montserrat";
      color: $text;
      .date-num{
        font-weight: 900;
        font-size: 1rem;
        position: relative;
        z-index: 3;
      }
      &.today .date-num {
        color: red;
      }

      &.selected {
        background: darken($border, 1%);
      }

      .events {
        .event {
          cursor: pointer;
          list-style-type: none;
        }
      }
    }
  }

  &.yearly {
    // TODO this is approximative, 90vw is close to the width of a container
    --content-width: 90vw;
    $gutter: 4px;
    $columns: 53;

    display: grid;
    width: 100%;
    height: calc(70vw / 53 * 7);
    // grid-template-columns: repeat(var($columns), 1fr);
    grid-template-rows: repeat(7, 1fr);
    // calc(
    //   ( var(--content-width) - ($gutter * ($columns - 1))
    //   ) / $columns
    // );
    grid-column-gap: $gutter;
    grid-row-gap: $gutter;
    grid-auto-flow: column;

    .item {
      // width: 10px;
      // min-height: 10px;

      background: $border;

      &.past {
        opacity: .5;
      }
      &.out-of-period {
        opacity: 0;
      }

      &.today {
        background: red;
      }

      // border: 1px solid $white;

      &.first-of-month {
        // border-top: 1px solid green;
      }

      * {
        display: none;
      }
    }
  }
}
