<template>
  <button
    class="btn btn-icon"
    :class="state.key"
    :title="state.description"
    @click.stop="state.trigger">
      <feather-icon v-if="icon" :type="icon"/>
      <span v-if="state.label">{{ state.label }}</span>
  </button>
</template>

<script>
  import Vue from 'vue';
  import iconMap from '../lib/iconMap';

  export default {
    props: ['state'],
    data () {
      return {
        icon: iconMap[this.state.icon || this.state.key]
      }
    },
  }
</script>

<style lang="scss">
  .btn {
    // background: darken($background, 2%);
    // color: lighten($text, 10%);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: none !important;
  }
</style>
