<template>
  <label class="btn btn-checkbox" :class="{ checked: state.value }">
    <input
      type="checkbox"
      :name="state.key"
      :id="state.key"
      :value="state.key"
      :disabled="state.disabled"
      @input="state.trigger"
      :checked="state.value">
      <feather-icon v-if="icon" class="btn-icon" :type="icon"/>
      <span v-if="state.label">{{ state.label }}</span>
  </label>
</template>

<script>
  import Vue from 'vue';
  import iconMap from '../lib/iconMap';

  export default {
    props: ['state'],
    data () {
      return {
        icon: iconMap[this.state.icon || this.state.key]
      }
    },
  }
</script>

<style lang="scss">
  .btn {
    // background: darken($background, 2%);
    // color: lighten($text, 10%);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: none !important;
  }
</style>
