<template>
  <span class="date">
    {{ date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear() }}
  </span>
</template>

<script>
import Vue from 'vue';

export default {
  props: ['date']
}
</script>

<style lang="scss">

</style>
