<template>
  <div class="btn-group-inline pull-left" data-toggle="buttons">
    <label
      v-for="state,i in states"
      class="btn btn-radio btn-icon"
      :class="{ active: state.key === currentState }"
      :title="state.description"
      :key="state.key">
      <input
        type="radio"
        :name="name"
        :id="state.key"
        :value="state.key"
        @input="state.trigger"
        :checked="state === currentState">
      <feather-icon :type="icons[i]"/>
    </label>
  </div>
</template>

<script>
  import Vue from 'vue';
  import iconMap from '../lib/iconMap';

  export default {
    props: ['states', 'currentState', 'name'],
    data () {
      return {
        iconMap,
        icons: this.states.map(s => iconMap[s.icon || s.key])
      }
    },
  }
</script>

<style lang="scss">
  .btn {
    // background: darken($background, 2%);
    // color: lighten($text, 10%);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: none !important;
  }
</style>
