<template>
  <div id="app">
    <Navbar
      :viewTypes="viewTypes"
      :viewType="viewType"
      v-on:changeViewType="changeViewType"/>
    <div class="container">
      <TaskList
        v-if="viewType == 'list'"/>
      <Calendar
        v-if="viewType == 'calendar'"/>
    </div>

  </div>
</template>

<script>
import Vue from 'vue';
import { mapState, mapMutations } from 'vuex';

const viewTypes = ['list', 'calendar'];

export default {
  name: 'app',
  data () {
    return {
      viewTypes,
      viewType: viewTypes[0],
    }
  },
  methods: {
    changeViewType(viewType) {
      this.viewType = viewType;
    }
  }
}
</script>

<style lang="scss">

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,800');
@import "styles/bootstrap";
@import "styles/variables";

body, html {
  margin: 0;
  padding: 0;
  background: #F0EDE9;
}

* {
  box-sizing: border-box;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-weight: normal;
}

ul {
  padding: 0;
}

@import "styles/dates";

</style>
