<template>
  <div class='cal-actionable'>
    <div class='actions'>
      <button class="btn btn-icon" @click.stop="previousWeek"><feather-chevron-left/></button>
      <Date :date="focusedDate" />
      <button class="btn btn-icon" @click.stop="nextWeek"><feather-chevron-right/></button>
    </div>
    <div class='dates weekly'>
      <div v-for="day in currentWeek" class="item btn"
        :class="{
          today: today.toDateString() === day.date.toDateString(),
          events: day.events.length > 0, /* Later, display the total duration of scheduled events in the day */
          selected: day.date.toDateString() === selectedDate.toDateString()
        }"
        @click.stop="selectDate(day.date)">
        <div class="date-num">
          {{day.date.getDate()}}
          ({{day.events.length}})
        </div>

        <div calss='events'>
          <ul v-if='day.events' class='events'>
            <li v-for="event in day.events"
              :title="event.task.title"
              @click.stop="openTask(event.task)"
              class="event">
                {{ event.task.title }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapState, mapMutations } from 'vuex';

const today = new Date(Date.now());

function formatDate(date) {
  return date.getDate() + '/' + date.getMonth() + '/' + date.getFullYear();
}

export default {
  name: 'scheduler',
  props: ['slots'],
  data () {
    return {
      today: today,
      selectedDate: new Date(today),
      focusedDate: new Date(today),
    }
  },
  computed: {
    disableAdd() {
      return !this.allowAdd()
    },
    slotsPerDay() {
      return this.slots.reduce((days, slot) => {
        let day = formatDate(slot.date);
        days[day] = days[day] || [];
        days[day].push(slot);
        return days;
      }, {})
    },
    currentWeek() {
      let date = new Date(this.focusedDate);
      let offset = (new Date(date.getTime()).getDay() + 6) % 7; // First day of week is monday
      date.setDate(date.getDate() - offset);
      let tempArr = [];

      for (let i = 0 ; i < 7 ; i++) {
        tempArr.push({
          date: new Date(date),
          events: this.slotsPerDay[formatDate(date)] || []
        })

        // increment date
        date.setDate(date.getDate() + 1);
      }
      return tempArr;
    }
  },
  methods: {
    selectDate(date) {
      this.selectedDate = date;
      this.$emit("change", date);
    },
    nextWeek() {
      this.focusedDate = new Date(this.focusedDate.setDate(this.focusedDate.getDate() + 7));
    },
    previousWeek() {
      this.focusedDate = new Date(this.focusedDate.setDate(this.focusedDate.getDate() - 7));
    }
  }
}
</script>

<style lang="scss">

  .disabled {
    pointer-events: none;
    opacity: .3;
  }

</style>
