<template>
  <div class='calendar'>
    <div class="btn-group-inline pull-left" data-toggle="buttons">
      <label v-for="item in viewTypes" class="btn btn-primary btn-radio btn-icon"  :class="{ active: item === viewType }" :title="item">
        <input
          type="radio"
          name="viewTypes"
          :id="'viewType-' + item"
          :value="item"
          @input="changeViewType(item)"
          :checked="item === viewType">
        {{ item }}
      </label>
      <button class="btn btn-icon" v-on:click="previous"><feather-chevron-left/></button>
      <button class="btn btn-icon" v-on:click="next"><feather-chevron-right/></button>
    </div>
    <div class="dates" :class="viewType + 'ly'">
      <div v-for="date in dayList" class="item"
        :class="dayClasses(date)">
        <div class="date-num">
          {{date.status ? date.date.getDate() : '&nbsp'}}
        </div>

        <div calss='events'>
          <ul v-if='date.events' class='events'>
            <li v-for="event in date.events"
              :title="event.task.title"
              @click="openTask(event.task)"
              class="event">
                {{ event.task.title }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div v-if="currentTask" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="actions">
            <button @click="currentTask = undefined"><feather-x/></button>
          </div>
          <Task
            :task="currentTask"
            :key="currentTask.id">
          </Task>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import iconMap from './lib/iconMap';

function formatDate(date) {
  return date.getDate() + '/' + date.getMonth() + '/' + date.getFullYear();
}

function getWeekNumber(d) {
    // Copy date so don't modify original
    d = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));
    // Set to nearest Thursday: current date + 4 - current day number
    // Make Sunday's day number 7
    d.setUTCDate(d.getUTCDate() + 4 - (d.getUTCDay()||7));
    // Get first day of year
    var yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
    // Calculate full weeks to nearest Thursday
    var weekNo = Math.ceil(( ( (d - yearStart) / 86400000) + 1)/7);
    // Return array of year and week number
    return weekNo;
}

const viewTypes = ['year', 'month', 'week'];

export default {
  name: 'calendar',
  props: ['calendar'],
  data () {
    return {
      today: new Date(),
      focusedDate: new Date(),
      currentTask: null,
      viewTypes,
      viewType: viewTypes[0],
      iconMap,
    }
  },
  methods: {
    openTask(task) {
      // console.log(task);
      this.currentTask = task;
    },
    changeViewType(viewType) {
      this.viewType = viewType;
    },
    dayClasses(date) {
      let days = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'];
      var today = new Date((new Date()).toDateString());

      return {
        [days[date.date.getDay()]]: true,
        'out-of-period': !date.status,
        'first-of-month': date.date.getDate() === 1,
        'past': (today > date.date),
        'today': (today.toDateString() == date.date.toDateString()),
        'event': date.status ? (date.title != undefined) : false
      }
    },
    next() {
      if (this.viewType === 'year') {
        this.focusedDate = new Date(this.focusedDate.setFullYear(this.focusedDate.getFullYear() + 1));
      }

      if (this.viewType === 'month') {
        this.focusedDate = new Date(this.focusedDate.setMonth(this.focusedDate.getMonth() + 1));
      }

      if (this.viewType === 'month') {
        this.focusedDate = new Date(this.focusedDate.setDate(this.focusedDate.getDate() + 7));
      }
    },
    previous() {
      if (this.viewType === 'year') {
        this.focusedDate = new Date(this.focusedDate.setFullYear(this.focusedDate.getFullYear() - 1));
      }

      if (this.viewType === 'month') {
        this.focusedDate = new Date(this.focusedDate.setMonth(this.focusedDate.getMonth() - 1));
      }

      if (this.viewType === 'month') {
        this.focusedDate = new Date(this.focusedDate.setDate(this.focusedDate.getDate() - 7));
      }
    }
  },
  computed: {
    dayList() {
      let firstDay, isInPeriod, periodLength;

      if (this.viewType === 'year') {
        firstDay = new Date(this.focusedDate.getFullYear()+'/'+'01/01');
        isInPeriod = (d) => this.focusedDate.getFullYear() === d.getFullYear();
        periodLength = 371;
      }

      if (this.viewType === 'month') {
        firstDay = new Date(this.focusedDate.getFullYear()+'/'+(this.focusedDate.getMonth()+1)+'/01');
        isInPeriod = (d) => this.focusedDate.getMonth() === d.getMonth();
        periodLength = 42;
      }

      if (this.viewType === 'week') {
        firstDay = new Date();
        isInPeriod = (d) => getWeekNumber(this.focusedDate) == getWeekNumber(d);
        periodLength = 7
      }

      let offset = (firstDay.getDay() + 6) % 7; // First day of week is monday
      firstDay.setDate(firstDay.getDate() - offset);
      // let startTimestamp = firstDay-1000*60*60*24*firstDay.getDay()
      let date = new Date(firstDay);
      let tempArr = []

      for (let i = 0 ; i < periodLength ; i++) {
        tempArr.push({
          date: new Date(date),
          status: isInPeriod(date) ? 1 : 0,
          events: this.tasksPerDay[formatDate(date)]
        })

        // Increment date
        date.setDate(date.getDate() + 1);
      }

      return tempArr;
    },
    tasksPerDay() {
      return this.tasks.reduce((days, task) => {
        task.scheduled.forEach(slot => {
          let day = formatDate(slot.date);
          days[day] = days[day] || [];
          days[day].push({ task, slot });
        })
        return days;
      }, {})
    },
    ...mapState([
      'tasks'
    ])
  }
}
</script>

<style lang="scss">

</style>
