<template>
  <ul class="list-actionable">
    <li v-for="item, index in items">
      <slot :item="item" :index='index'/>
      <div class="actions">
        <Button
          v-for="action in actions"
          :class="action.class ? action.class(item) : ''"
          :state="{
            key: action.key,
            description: action.description,
            trigger: e => action.trigger(item, e)
          }"/>
      </div>
    </li>
  </ul>
</template>

<script>
import Vue from 'vue';
import iconMap from './lib/iconMap';

export default {
  name: 'list-actionable',
  props: ['actions', 'items'],
  data () {
    return {
      iconMap
    }
  }
}
</script>

<style lang="scss">

  .list-actionable {
    li {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
    }
  }

</style>
