<template>
  <div id="topbar" class="navbar navbar-light bg-light">
    <div class="container">
      <div class="actions">
        <RadioButtons
          name="viewTypes"
          :currentState="viewType"
          :states="viewTypes.map(viewType => {
            return {
              key: viewType,
              /*description: 'Un-complete this task',*/
              trigger: (e) => $emit('changeViewType', viewType)
            }
          })"/>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapState, mapMutations } from 'vuex';
import iconMap from './lib/iconMap';

export default {
  name: 'Navbar',
  props: ['viewTypes', 'viewType'],
  data () {
    return {
      iconMap
    }
  },
}
</script>

<style lang="scss">
  $white: #FFFFFF;
  $background: #F5F5F5;
  $text: #444444;
  $border: #DDDDDD;
  $green: #00FFAA;
  $orange: #FFBB44;

  .btn-group-inline {
    margin-right: 1em;
    display: inline-block;
  }

  .btn {
    background: darken($background, 2%);
    color: lighten($text, 10%);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: none !important;
  }

  .btn-icon {
    svg {
      stroke: lighten($text, 20%);
      width: 1em;
      height: 1em;
    }

    // padding: 7px;
    display: inline-flex;
    flex-direction: column;
    // width: 2rem;
    // height: 2rem;

    font-weight: 900;
  }

  .btn-radio {
    border-radius: 0;
    border: none;
    background: darken($background, 2%);



    &.active {
      background: darken($background, 10%);
      pointer-events: none;
    }

    &:hover {
      background: darken($background, 2%);
    }

    &:hover svg {
      stroke: $text;
    }

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }

    input {
      display: none;
    }
  }
</style>
