<template>
  <div class="slot">
    <Date :date="data.date" />
    for
    <Timepicker
      v-model="data.duration"
      @change="e => change({duration: e.data})"/>
    <CheckButton
      :state="{
        key: 'fixed',
        value: data.fixed,
        label: 'fixed',
        disabled: !data.editable,
        trigger: e => change({fixed: !data.fixed})
      }"
    />
    <Timepicker
      v-show="data.fixed"
      v-model="data.time"
      @change="e => change({time: e.data})"
      :class="{disabled: !data.fixed}"/>
    <CheckButton
      :state="{
        key: 'informal',
        value: data.informal,
        label: 'informal',
        disabled: !data.editable,
        trigger: e => change({informal: !data.informal})
      }"
    />
  </div>
</template>

<script>
import Vue from 'vue';

export default {
  props: ['data', 'actions'],
  methods: {
    change(attrs) {
      this.$emit('change', { ...this.data, ...attrs });
    }
  }
}
</script>

<style lang="scss">

</style>
