<template>
  <div class='newTask mask' :class="{expanded}">
    <button class='btn newTask' v-show="!expanded" @click="expand()"><feather-plus/></button>
    <div class="task" v-show="expanded">
      <div class="header" v-show="expanded">
        <span>
          <input class="title" v-model="title" placeholder="title"></input>
          <span v-if="parent">
            linked to <span class="title">{{ parent.title }}({{ parentId }})</span>
          </span>
        </span>
        <div class="actions">
          <button class="btn btn-icon" @click="createTask"><feather-plus/></button>
          <button class="btn btn-icon" @click="collapse"><feather-x/></button>
        </div>
      </div>
      <div class="content" v-show="expanded">
        <textarea v-model="content" placeholder="description of your task"></textarea>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'new-task',
  props: ['task', 'parentId', 'parent'],
  data () {
    return {
      title: "",
      content: "",
      expanded: false,
    }
  },
  methods: {
    createTask () {
      this.$emit('create', {
        title: this.title,
        content: this.content,
        parentId: this.parentId,
        parent: this.parent
      })
      this.initForm();
      this.collapse();
    },
    initForm () {
      this.title = "";
      this.content = "";
      this.parentId = 0;
      this.parent = null;
    },
    expand () {
      this.expanded = true;
    },
    collapse () {
      this.expanded = false;
      // this.$emit('close')
    },
    ...mapMutations([
      'create'
    ])
  }
}
</script>

<style lang="scss">

$white: #FFFFFF;
$background: #F5F5F5;
$text: #444444;
$border: #DDDDDD;
$green: #00FFAA;

.newTask.mask {
  $size: 3em;
  background: $background;
  border-radius: $size;
  overflow: hidden;
  width: $size;
  min-height: $size;
  max-height: $size;
  text-align: center;
  margin: auto;
  transition: .5s;
  margin-bottom: -10px;

  &:hover {
    // background: darken($background, 5%);
  }

  &.expanded {
    width: 100%;
    max-height: 100vh;
    border-radius: 0;
    background: white;
    margin-bottom: 0;
  }

  .task {
    background: transparent;
  }

  .btn.newTask {
    background: transparent;
    cursor: pointer;

    svg {
      stroke: lighten($text, 10%);
      transition: 1s;
    }

    &:hover svg {
      stroke: $green;
    }
  }
}


input, textarea {
  border: none;
  font-size: 1em;
  font-family: 'Montserrat';
  background: none;
  border-bottom: 2px solid #EEEEEE;

  &:focus {
    border-bottom: 2px solid #CCCCCC;
  }
}

textarea {
  width: 100%;
}
</style>
