<template>
  <div class="scheduler">
    <ListActionable
      class="slots selected-slots"
      :actions="[{key:'remove', description: 'Remove this slot', trigger: removeSlot}]"
      :items="selectedSlots">
      <NewSlot slot-scope="{ item }" :data="item"/>
    </ListActionable>
    <div class="scheduling-propositions">
      <button v-for="prop in schedulingPropositions" class="btn">{{ prop.text }}</button>
    </div>
    <CalActionable
      :slots="slots"
      @change="date => { currentSlot.date = date; addSlot() }"/>
    <div class="btn-group">
      <Button
        :state="{
          label: 'Schedule',
          trigger: sendSelectedSlots
        }"/>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapState, mapMutations } from 'vuex';

const today = new Date(Date.now());

function formatDate(date) {
  return date.getDate() + '/' + date.getMonth() + '/' + date.getFullYear();
}

export default {
  name: 'scheduler',
  props: ['schedule', 'scheduled', 'currentTask'],
  data () {
    return {
      selectedSlots: [],
      currentSlot: this.createSlot({date: new Date()}),
      today: today,
      selectedDate: new Date(today),
      focusedDate: new Date(today),
      disabled: {
        to: today,
        dates: this.scheduled
      },
    }
  },
  computed: {
    disableAdd() {
      return !this.allowAdd()
    },
    slots() {
      // These two lines build an array of all the slots from all the tasks, along with the currently selected slots
      return this.tasks.reduce((slots, task) => slots.concat(task.scheduled.map(slot => ({task, ...slot}))), [])
        .concat(this.selectedSlots.map(slot => ({task: this.currentTask, ...slot})));
    },
    schedulingPropositions() {
      return [{
        text: "tommorrow"
      },{
        text: "next week"
      }]
    },
    ...mapState([
      'tasks'
    ])
  },
  methods: {
    createSlot({ date, duration = {}, fixed = true, informal = true, time, editable = true }) {
      return {
        key: formatDate(date),
        date, duration, fixed, informal, time, editable
      }
    },
    allowAdd() {
      // Disable adding if the selected date is today (can't postpone for today, yet)
      return !(this.date === today)
    },
    addSlot() {
      if (this.selectedSlots.some(s => s.date === this.selectedDate)) {
        // TODO log warning : can't postpone twice the same day, yet
      } else {
        // TODO quick fix to avoid duplicate objects, need to rethink the way NewSlot interact with its currentSlot object.
        this.selectedSlots.push(this.createSlot(this.currentSlot));
        this.currentSlot = this.createSlot({date: new Date()})
      }
    },
    removeSlot(slot) {
      const index = this.selectedSlots.indexOf(slot);
      this.selectedSlots.splice(index, 1);
    },
    sendSelectedSlots() {
      this.schedule({slots: this.selectedSlots})
      // Reset component data
      Object.assign(this.$data, this.$options.data.apply(this))
    }
  }
}
</script>

<style lang="scss">

  $white: #FFFFFF;
  $background: #F5F5F5;
  $text: #444444;
  $border: #DDDDDD;
  $green: #00FFAA;
  $orange: #FFBB44;

  .slots > * {
    border-bottom: 1px solid $border;
  }

  .disabled {
    pointer-events: none;
    opacity: .3;
  }

  .scheduling-propositions {
    display: flex;

    .btn {
      margin-right: 1rem;
    }
  }

</style>
