<template>
  <div class="slot">
    <Date :date="data.date" />
    <span>
      for {{ data.duration.HH + ":" + data.duration.mm }}
    </span>
    <CheckButton
      :state="{
        key: 'fixed',
        value: data.fixed,
        label: 'fixed',
        disabled: true,
        trigger: (e) => e
      }"
    />
    <CheckButton
      :state="{
        key: 'informal',
        value: data.informal,
        label: 'informal',
        disabled: true,
        trigger: (e) => e
      }"
    />
  </div>
</template>

<script>
import Vue from 'vue';

export default {
  props: ['data', 'actions'],
}
</script>

<style lang="scss">

  $white: #FFFFFF;
  $background: #F5F5F5;
  $text: #444444;
  $border: #DDDDDD;
  $green: #00FFAA;
  $orange: #FFBB44;

  .slot {
    // padding: 2em;
    // display: inline-flex;
  }

  .btn-checkbox {
    vertical-align: baseline;
    margin: 0;
    padding: 2px;
    background: darken($background, 2%);

    &:not(.checked) {
      opacity: .3;
    }

    // &.active {
    //   background: darken($background, 10%);
    //   pointer-events: none;
    // }

    &:hover {
      background: darken($background, 2%);
    }


    input {
      display: none;
    }
  }

</style>
