<template>
  <div class="task" :class="classes">
    <div class="header" @click="toggleContent">
      <div class="title">
        <span class="text">{{ task.title }}</span>
      </div>
      <div class="metadata">
        <Date :date="headerDate"/>
        <span class="estimated">{{ task.estimated }}</span>
      </div>
      <!-- <span v-if="task.parent">
        linked to <span class="title">{{ task.parent.title }}({{ task.parent.id }})</span>
      </span> -->
      <div class="actions">
        <Button
          v-for="action in taskActions"
          :key="action.key"
          :state="action"/>
      </div>
    </div>
    <ListActionable
      v-show="expandedSchedule || expandedContent"
      class="slots scheduled-slots"
      :actions="slotActions"
      :items="task.scheduled">
      <NewSlot slot-scope="{ item: slot }" :data="slot" @change="newSlot => modifySlot({id: task.id, slot, newSlot})"/>
    </ListActionable>
    <Scheduler
      v-show="expandedSchedule"
      class="schedule"
      :schedule="handleSchedule"
      :scheduled="task.scheduled"
      :currentTask="task"/>
    <div class="content" v-show="expandedContent">
      <p>{{ task.content }}</p>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapMutations } from 'vuex'
import Datepicker from 'vuejs-datepicker';
import Scheduler from './Scheduler.vue';

Vue.component('Datepicker', Datepicker);
Vue.component('Scheduler', Scheduler);

export default {
  name: 'Task',
  props: ['task'],
  data () {
    return {
      expandedCreateForm: false,
      expandedContent: false,
      expandedSchedule: false,
      time: new Date(Date.now()),
      disabled: {
        to: new Date(Date.now()),
      },
      editSlots: this.task.scheduled.map(s => false)
    }
  },
  computed: {
    classes() {
      return {
        ack: this.task.ack,
        scheduled: this.task.scheduled.length > 0,
        expanded: this.expandedCreateForm || this.expandedSchedule || this.expandedContent,
      }
    },
    headerDate() {
      return this.task.scheduled.length > 0 ? this.task.scheduled[0].date : this.task.received;
    },
    slotActions() {
      return [{
        key: 'edit',
        description: 'Edit this slot',
        class: slot => { return { edit: true, active: slot.editable } },
        trigger: slot => this.modifySlot({id: this.task.id, slot, newSlot: { ...slot, editable: !slot.editable}})
      }, {
        key: 'remove',
        description: 'Remove this slot',
        trigger:slot => {
          this.removeSlots({id: this.task.id, slots:[slot]})
        }
      }]
    },
    taskActions() {
      return [
        this.task.ack ? {
          key: 'uncomplete',
          description: 'Un-complete this task',
          trigger: (e) => this.unacknowledge(this.task.id)
        } : {
          key: 'complete',
          description: 'Complete this task',
          trigger: (e) => this.acknowledge(this.task.id)
        },{
          key: 'postpone',
          description: 'Postpone this problem for your future self',
          trigger: this.toggleSchedule
        },{
          key: 'newTask',
          description: 'Create a new task as a child of this one.',
          trigger: (e) => $emit('newTask', e)
        },{
          key: 'action',
          description: 'take action from this task.',
          trigger: (e) => {}
        }
      ]
    }
  },
  methods: {
    // showForm() {
    //   this.expandedCreateForm = !this.expandedCreateForm;
    // },
    toggleSchedule() { this.expandedSchedule = !this.expandedSchedule },
    toggleContent() { this.expandedContent = !this.expandedContent },
    handleSchedule({slots}) {
      this.expandedSchedule = false;
      this.addSlots({id: this.task.id, slots});
    },
    ...mapMutations([
      'acknowledge',
      'unacknowledge',
      'addSlots',
      'modifySlot',
      'editSlot',
      'removeSlots',
    ])
  }
}
</script>

<style lang="scss">
  @import "styles/variables";

  .task {
    font-family: 'Montserrat';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 1px solid $border;
    background: $background;
    border-radius: 2px;

    &:not(.expanded) + .task:not(.expanded) {
      border-top: none;
    }
    // transition: 1s;

    &.expanded {
      margin: 1rem -1rem;
    }

    .header,
    .content,
    .schedule,
    .scheduled-slots {
      padding: .6rem 1rem;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;


      .title {
        color: $text;
        font-weight: 200;
        padding: 0 .3em;
        flex-grow: 1;
      }

      .metadata {
        padding: 0 .3em;
      }
    }

    .content {
      border-top: 1px solid $border;
    }

    &.scheduled {
      .title .text {
        box-shadow: inset 0px calc(.7em - 3px) 0px $background, inset 0px calc(.7em + 2px) 0px $orange;
      }
    }

    &.ack {
      .title .text {
        box-shadow: inset 0px calc(.7em - 3px) 0px $background, inset 0px calc(.7em + 2px) 0px $green;
      }
    }

    .expandContent {
      cursor: pointer;
    }

    .content {
      color: $text;
      font-weight: 200;
      display: flex;
      width: 100%;
    }

  }

  .actions {
    display: inline-block;

    .btn {
      &.uncomplete {
        background: $green;
        color: $white;
      }

      &.edit.active {
        background: $orange;
        color: $white;
      }
    }
  }
</style>
