<template>
  <div class="task-list">
    <div class="actions">
      <RadioButtons
        key="viewTypes"
        :currentState="filter"
        :states="filters.map(filter => {
          return {
            key: filter.key,
            description: filter.description,
            trigger: (e) => changeFilter(filter.key)
          }
        })"/>
    </div>
    <ul>
      <NewTask
        :parentId="parentIdCreateForm"
        :parent="parentCreateForm"
        @create="create"
        @close="collapseCreateForm">
      </NewTask>
      <Task
        v-for="task in tasks.filter(filterBy(filter))"
        v-on:newTask="expandCreateFrom(task)"
        :task="task"
        :key="task.id">
      </Task>
    </ul>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapState, mapMutations } from 'vuex';

const filters = [{
    key: 'all',
    description: 'Show all the tasks',
    filter: (task) => true
  },{
    key: 'pending',
    description: 'Show pending tasks',
    filter: (task) => !task.ack && task.scheduled.length == 0
  },{
    key: 'scheduled',
    description: 'Show scheduled tasks',
    filter: (task) => task.scheduled.length > 0
  },{
    key: 'done',
    description: 'Show completed tasks',
    filter: (task) => task.ack
  }];

export default {
  name: 'TaskList',
  data () {
    return {
      parentCreateForm: null,
      parentIdCreateForm: 0,
      filters,
      filter: filters[0].key
    }
  },
  computed: mapState([
    'tasks'
  ]),
  methods: {
    changeFilter(filter) {
      this.filter = filter;
    },
    filterBy(key) {
      return filters.find(f => key === f.key).filter
    },
    expandCreateFrom (parent) {
      this.parentIdCreateForm = parent.id;
      this.parentCreateForm = parent;
      this.expandedCreateForm = true;
    },
    collapseCreateForm () {
      this.expandedCreateForm = false;
    },
    ...mapMutations([
      'acknowledge',
      'create',
    ])
  }
}
</script>

<style lang="scss">
// TODO inherit this margin from a container
.task-list {
  margin: 1em 0;
}
</style>
